In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [2]:
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

In [6]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [8]:
x = y[1][1]
x

8

In [11]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']

In [14]:
Df2= pd.DataFrame(lst, columns = col, index= [i for i in range(1,4)])
Df2

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [20]:
array  = ([[94, 89, 63],[93, 92, 48],[92, 94, 56]])
Alex= array[:2,1:]
Alex

TypeError: list indices must be integers or slices, not tuple

In [19]:
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [49]:

df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin-1")

In [16]:
group1 = df.groupby(['Y2017','Area']).first()
group1

,,Area Code,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2018
Y2017,Area,,,,,,,,,,
-1582.0,Egypt,59,2908,Sugar Crops,5072,Stock Variation,1000 tonnes,2731.0,47.0,-985.0,-2156.0
-1200.0,Mozambique,144,2532,Cassava and products,5072,Stock Variation,1000 tonnes,0.0,0.0,915.0,-1445.0
-1159.0,Mozambique,144,2907,Starchy Roots,5072,Stock Variation,1000 tonnes,-219.0,-3.0,915.0,-1442.0
-865.0,United Republic of Tanzania,215,2913,Oilcrops,5072,Stock Variation,1000 tonnes,2308.0,2505.0,-195.0,-14.0
-860.0,United Republic of Tanzania,215,2556,Groundnuts (Shelled Eq),5072,Stock Variation,1000 tonnes,480.0,572.0,-212.0,-61.0
...,...,...,...,...,...,...,...,...,...,...,...
96443.0,Egypt,59,2501,Population,511,Total Population - Both sexes,1000 persons,90425.0,92443.0,94447.0,98424.0
106400.0,Ethiopia,238,2501,Population,511,Total Population - Both sexes,1000 persons,98094.0,100835.0,103603.0,109224.0
112625.0,Nigeria,159,2907,Starchy Roots,5301,Domestic supply quantity,1000 tonnes,108756.0,110798.0,116483.0,117038.0
117702.0,Nigeria,159,2907,Starchy Roots,5511,Production,1000 tonnes,109593.0,111663.0,119330.0,118172.0
190873.0,Nigeria,159,2501,Population,511,Total Population - Both sexes,1000 persons,176405.0,181137.0,185960.0,195875.0

In [30]:
group = df.groupby('Area')

In [32]:
group['Y2017'].max()

Area
Algeria                         41389.00
Angola                          29817.00
Benin                           11175.00
Botswana                         2341.00
Burkina Faso                    19193.00
Cabo Verde                       2530.00
Cameroon                        24566.00
Central African Republic         4596.00
Chad                            15017.00
Comoros                            16.65
Congo                            5111.00
Côte d'Ivoire                   24437.00
Djibouti                         2664.00
Egypt                           96443.00
Eswatini                         5553.00
Ethiopia                       106400.00
Ethiopia PDR                        0.00
Gabon                            2640.00
Gambia                           2544.00
Ghana                           29121.00
Guinea                          12068.00
Guinea-Bissau                    2233.00
Kenya                           50221.00
Lesotho                          2475.00
Liberia                          4702.00
Madagascar                      25571.00
Malawi                          17670.00
Mali                            18512.00
Mauritania                      51864.00
Mauritius                        3713.00
Morocco                         38348.00
Mozambique                      28649.00
Namibia                          2465.00
Niger                           21602.00
Nigeria                        190873.00
Rwanda                          11981.00
Sao Tome and Principe            2407.00
Senegal                         15419.00
Seychelles                        204.02
Sierra Leone                     7488.00
South Africa                    57010.00
Sudan                           40813.00
Sudan (former)                      0.00
Togo                             7698.00
Tunisia                         11433.00
Uganda                          41167.00
United Republic of Tanzania     54660.00
Zambia                          16854.00
Zimbabwe                        14237.00
Name: Y2017, dtype: float64

In [32]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [35]:
df['Y2014'].isnull().sum()

1589

In [41]:
df['Area']

0         Algeria
1         Algeria
2         Algeria
3         Algeria
4         Algeria
           ...
60938    Zimbabwe
60939    Zimbabwe
60940    Zimbabwe
60941    Zimbabwe
60942    Zimbabwe
Name: Area, Length: 60943, dtype: object

In [39]:
missing_1 =df['Y2014'].isnull()
missing = missing_1.sum()

In [40]:
missing

1589

In [43]:
percentage_1 = (missing_1 / missing) * 100
percentage_1.sum()

100.00000000000001

In [53]:
group_wine = df.groupby('Item')
group_wine['Y2015'].sum()

Item
Alcohol, Non-Food        2180.00
Alcoholic Beverages     98783.72
Animal Products         11811.73
Animal fats            200675.72
Apples and products     10559.15
                         ...
Vegetables, Other      158104.08
Vegetal Products       107064.17
Wheat and products     234710.51
Wine                     4251.81
Yams                   203151.78
Name: Y2015, Length: 119, dtype: float64

In [54]:
group_wine['Y2018'].sum()

Item
Alcohol, Non-Food        2293.00
Alcoholic Beverages     97847.27
Animal Products         11578.61
Animal fats            269648.27
Apples and products      9640.51
                         ...
Vegetables, Other      163987.21
Vegetal Products       107775.39
Wheat and products     242645.19
Wine                     4039.32
Yams                   221272.09
Name: Y2018, Length: 119, dtype: float64

In [55]:
group_element = df.groupby('Element')

In [56]:
group_element['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64